@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  background-color: #020617; /* slate-950 */
  color: #e2e8f0;           /* slate-200 */
  padding: 20px; 
}

#root {
  min-height: 100vh;
}
